<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Dashboard"
                        asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Product"
                        asp-action="Index">Ürünler (@await Component.InvokeAsync("ProductSummary"))</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" asp-controller="Category"
                        asp-action="Index">Kategoriler</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" target="_blank" aria-current="page" asp-area="" asp-controller="Home"
                        asp-action="Index">Web</a>
                </li>
            </ul>
        </div>
    </div>
</nav>