
<div class="text-center mt-3">
    <p class="butText">Giriş</p>
    <button class="button" onclick="TaggForm()">
        <div class="circleRight" id="login-buttonForm" style="display: none;"></div>
        <div class="circleLeft" id="register-buttonForm"></div>
    </button>
    <p class="butText" >Kayıt</p>
</div>
<script>
    function TaggForm() {
        var registerForm = document.getElementById('registerForm');
        var loginForm = document.getElementById('loginForm');
        var loginButtonForm = document.getElementById('login-buttonForm');
        var registerButtonForm = document.getElementById('register-buttonForm');
        if (loginForm.style.display === 'none') {
            loginForm.style.display = 'block';
            registerForm.style.display = 'none';
            loginButtonForm.style.display = 'none';
            registerButtonForm.style.display = 'block';
        } else {
            loginForm.style.display = 'none';
            registerForm.style.display = 'block';
            loginButtonForm.style.display = 'block';
            registerButtonForm.style.display = 'none';
        }
    }
</script>

<div class="d-flex justify-content-center">
    <div id="loginForm" style="width: 400px; height: 300px;">
        @await Html.PartialAsync("Login")
    </div>
    <div id="registerForm" style="width: 400px; height: 300px; display: none;">
        @await Html.PartialAsync("Register")
    </div>
</div>
