html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 260px;
}

/* Style the dropdown menu */
.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #333;
}

/*  Style the subDropdown menu */
.subDropdown-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f8f8f8;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.subDropdown:hover .subDropdown-menu {
  display: block;
}

.subDropdown-item {
  color: #959595;
}

/*Kayıt*/
.button {
  width: 55px;
  height: 25px;
  background-color: transparent;
  border-radius: 20px; /* Köşeleri yuvarlak yapar */
  border-style: solid; /* Kenarların iç kısmını boş bırakır */
  border-width: 2px; /* Kenar kalınlığı */
  border-color: #0008ff; /* Kenar rengi */
}

.circleRight{
  width: 22px;
  height: 20px;
  background-color: #0008ff;
  border-radius: 100%; /* Köşeleri yuvarlak yapar */
  border-width: 2px; /* Kenar kalınlığı */
  border-style: solid; /* Kenarların iç kısmını boş bırakır */
  border-color: #ffffff; /* Kenar rengi */
  float: right;
}

.circleLeft{
  width: 22px;
  height: 20px;
  background-color: #0008ff;
  border-radius: 100%; /* Köşeleri yuvarlak yapar */
  border-width: 2px; /* Kenar kalınlığı */
  border-style: solid; /* Kenarların iç kısmını boş bırakır */
  border-color: #ffffff; /* Kenar rengi */
  float: left;
}

.butText {
  text-align: center;
  font-size: xx-large;
  min-width: 100px; /* width yerine min-width kullanımı */
  padding: 5px 10px; /* Buton içeriğini ortalamak için padding eklendi */
  margin: 0;
}

.butText, .button, .circleLeft, .circleRight {
  display: inline-block; /* Öğeleri yan yana hizalar */
  vertical-align: middle; /* Dikey hizalamayı ortalar */
}

.change-box{
  background-color: #f8f8f8;
  border-radius: 10%;
  ;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

